<div class="container">
  <app-server-management
    (eventServerCreated)="addServer($event)"
    (eventBlueprintCreated)="addServerBluePrint($event)">
  </app-server-management>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [server]="serverElement">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{serverElement.content}}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
